httplib2 >= 0.12.3
python_version >= '3.7'
pytz >= 2020.4
aiohttp >= 3.5.4
discord.py >= 1.3.4
certifi >= 2019.3.9
google-api-python-client >= 1.7.8
oauth2client >= 4.1.3
python-dateutil >= 2.8.0
mysql-connector >= 2.2.9
trueskill >= 0.4.5
